.margin-bottom{
  margin-bottom: 12px;
}

.App {
  text-align: center;
}

.app-header{
  padding: 10px 3px;
}

.App-logo {
   width:50px
}
  
.search-nav .col-12{
   padding:10px;
}

.select-options{
  transition: 2s;
}

.chip{
  border-radius: 100px;
  padding: 4px 10px;
  border: 1px solid #ccc;
}

.close-icon{
 font-size: 17px;
 margin-left: 6px;
}



.close-icon:hover{
  cursor: pointer;
  color: #ccc;
}