.margin-bottom{
  margin-bottom: 12px;
}

.App {
  text-align: center;
}

.app-header{
  padding: 10px 3px;
}

.App-logo {
   width:50px
}
  
.search-nav .col-12{
   padding:10px;
}

.select-options{
  transition: 2s;
}